@model WebManagement.ViewModels.Shared.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div class="panel panel-danger">
  <div class="panel-heading">@Model.Title</div>
  <div class="panel-body">
    @Model.Description
  </div>
</div>
